<head>
	<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
</head>
<body background="https://gweb-earth.storage.googleapis.com/assets/hero@2x.jpg";
style="background-size: cover; font-family: 'Open Sans', sans-serif;"></div>
<div class="admin-head" style="background-color: rgba(0, 0, 0, 0.8); text-align: center;    padding-bottom: 20px;
    padding-top: 10px;">
<h3 style="color: white;  " >Admin Page</h3>


<%= link_to "Update My Scores", recrefreshes_path, method: :post, class:"btn btn-success"%>


</div>
<h3 style="color: white; font-size: 60px; font-family: 'Source Code Pro', monospace;"><center>
	Recommendation Engine Check</center></h3>
<br>
<div class="row" style="">
	<div class="col-sm-3 recordstabledata" style="background-color: rgba(0, 0, 0, 0.8);">
		<div class="recommendation-till-date" style=" color: white; font-size: 18px;  ">
		<h3>Recommendations Till Date :</h3>
		<div>No. of Jobs: <code><small><%= @recommended_jobs_till_date %></small></code></div>
		<div>No. of Users: <code><small><%= @recommended_jobs_till_date_users %></small></code></div>
	</div>
		<br>
		<div class="quick-summary" style=" color: white;font-size: 18px; ">
		<h3>Quick Summary :</h3>
		<div><b>< 1 Day:</b></div>
		<div>Categories: <%= Job.find(1660).JobCategory.name %></div>
		<div>Average Applications Per User: <%= @matches.pluck(:applicant_id).uniq.count/@matches.pluck(:user_id).uniq.count %></div>
		<div>Average Applications Per Day: </div>
		<br>
		<div><b>2 to 7 Days:</b></div>
		<div>Categories: Marketing, Finance, Engineering</div>
		<div>Average Applications Per User: 1</div>
		<div>Average Applications Per Day: 27</div>
		</br>
	</br><center>
		<img src="http://noosphere.princeton.edu/images/movie256_b.gif" alt="."
		style="width: 200px;
						height: 200px;
						border-radius: 50%;"></center>
		</br>
	</div>




	</div>

	<div class="col-sm-8 logsdata">
		<div class="user-log" style="background-color: rgba(0, 0, 0, 0.8); color: white;font-size: 18px; ">
		<h3 style="padding:10px;">User Logs :</h3>

		<br>


			<table class="table" >
				<thead>
					<th><center>User</center></th>
					<th><center>Job</center></th>
					<th><center>Time taken to Apply after recommendation</center></th>
				</thead>
				<tbody>
					<% @matches.order(updated_at: :desc).each do |match| %>
					<tr>
						<td><center><%= User.find(match.user_id).email %></center></td>
						<td><center><%= Job.find(match.jobrec_id).title %></center></td>
						<td><center><%= distance_of_time_in_words(match.created_at, match.updated_at) %></center></td>
					</tr>
					<% end %>
				</tbody>
			</table>


		</div>
	</div>
</div>
