
<div class="container" style=" color: #fff; background-size: cover; background-image: url(https://az616578.vo.msecnd.net/files/2016/11/06/636140659029117301-893379077_city.jpeg);padding-bottom: 40px;
padding-top: 20px;background-position: center;">
<div class="job-and-internship-title">
	<h1 style= "    font-size: 60px;">Jobs & Internships</h1>
</div>
<div class="search-bar" style="background-color: white; color: gray;     a
    border: white; ">
	 <div class="field" style="padding-left: 10px;     height: 40px;
    padding-top: 10px;"><span class="glyphicon glyphicon-search" style="font-size: larger;"></span>
	  <%= text_field_tag "dummy", nil%></div>
	 <div class="search-options" >Job Category ▼ Skills ▼ Location ▼ Job Type ▼ Company ▼
	 <button type="button" style="background: #e0e1e2 none; color: rgba(0,0,0,.6); border: none; border-color: grey;vertical-align: baseline; margin-left: 538px;" class="btn btn-primary btn-reset" >Reset
	 </div>

</div>
</div>

</br>
</br>
</br>
<div class="container-fluid">
<div class="row">

<div class=row-jobs >

			<% @joblist.each do |joblist| %>
					<div class="col-md-4">
						<div class="card" style="height: 250px; background-color:#fff; padding">
							
							<div class="card-content">
								<div class="job-title" style=" background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(<%= randomized_background_image %>) no-repeat center center ;background-color: rgba(0, 0, 0, 0.5);  ">



									<%= link_to job_path(id: joblist.id) do %>

									<% if joblist.jobtype == "FULL_TIME" %>
									<button type="button" class="btn btn-primary btn-1" style="    border: none;">Full-Time</button>
									<% elsif joblist.jobtype == "INTERNSHIP" %>
									<button type="button" class="btn btn-primary">Internship</button>
									<% else %>
									<button type="button" class="btn btn-primary" style="background-color: #f2711c;    border: none;">Part-Time</button>
									<% end %>
									<h3 style="position: absolute;
								bottom: 0;"><%= joblist.title =%></h3>
									<% end %>
								</div>
								<div class="job-company">
									<%= link_to job_path(id: joblist.id) do %>
									<h4><%= joblist.Company.name =%></h4>
									<% end %>
								</div>
								<div class="job-desc">
									<%= link_to job_path(id: joblist.id) do %>
									<p><%= joblist.intro =%></p>
									<% end%>
								</div>
							</div>
						</div>
					</br>
					</div>
			<% end %>

</div>
</div>

</div>
