
<!DOCTYPE html>
<html lang="en">
  <head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">

<title>Blog Template for Bootstrap</title>
<link href="https://fonts.googleapis.com/css?family=Lato:700" rel="stylesheet">
  </head>
<body>
<div class="site-wrapper">
  <div class="container" style="text-align: center; color: #fff;
  background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(<%= randomized_background_image1 %>) no-repeat center center ;
  padding: 0; background-position: bottom; background-size: cover; ">

    <div class="blog-header">
      <h1 class="blog-title"><%= @job.title %></h1>






    </div>
  </br>
  </br>
  </br>
    <div>
    <button type="button" style="background-color: #f2711c; color: #fff; border-color: #f2711c;" class="btn btn-primary btn-1">➦ Share</button>
    <button type="button" class="btn btn-primary btn-2">Bookmark</button>
<!-- added link to apply -->
    <%= link_to jobs_path, method: :post do %>
      <button type="button" style="background-color: #4caf50; color: #fff; border-color: #4caf50;"class="btn btn-primary btn-3">✓ Apply</button>
    <% end %>
<!-- added link to apply -->

    </div>
  </br>
  </br>


    <div class="row1">
    <div class="head50">
      <div class="bookmark-figure" style="font-size: large;" >
        <%= @job.id %></div></br>bookmarks
    </div>
    <div class="head50">
      <div class="views-figure" style="font-size: large;" ><%= @job.CompanyId %></div></br>views
    </div>
    <style>
    .head50{
      display: inline;
      width: 50%;
      float: left;
      padding-top: 30px;
      padding-bottom: 10px;
      color: black;
      background: #f2f2f2;
    }
    </style>

    </div>

    </div>
</div>


</br>
</br>
    <div class="row">

      <div class="col-sm-8 blog-main" style=" background-color: white; ">

        <div class="blog-post">
          <h2 class="blog-post-title">Description</h2>

          <%if @job.description!= nil %>
            <%= @job.description.html_safe %>
          <%end%>

          <%if @job.descriptionV2!= nil %>
            <%if @job.descriptionV2["learn"]!= nil %>
            <p><%= @job.descriptionV2["learn"]["data"][0]["data"]["text"] %></p></br>
            <%end%>
            <%if @job.descriptionV2["description"] !=nil %>
            <p><%= @job.descriptionV2["description"]["data"][0]["data"]["text"] %></p></br>
            <%end%>
            <%if @job.descriptionV2["opportunity"]!= nil %>
            <p><%= @job.descriptionV2["opportunity"]["data"][0]["data"]["text"] %></p></br>
            <%end%>
            <%if @job.descriptionV2["requirements"] != nil %>
            <p><%= @job.descriptionV2["requirements"]["data"][0]["data"]["text"] %></p></br>
            <%end%>
          <%end%>

          <%if @job.descriptionHTML!= nil %>
            <%= @job.descriptionHTML.html_safe %>
          <%end%>

        </div>

      </div>

        <div class="col-sm-3 col-md-offset-1 blog-sidebar" >
          <div class="job-rec-header"><b>Job Recommendations</b></br></div>
            <div class="job-rec-sub-header">Similar jobs considered: </div>
          <div class="job-recommendation"style=" background-color: white; ">

          <br>



          <% @final_rec_id.each do |jobid| %>
          <div class="recommended-job" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(<%= randomized_background_image %>) no-repeat center center ; ">
            <%= link_to job_path(id: jobid) do %>
            <b style="font-size: 14px;font-family: 'Lato', sans-serif;"><%= Job.find(jobid).title.upcase  %></b></br>
            <div style="padding-left: 5px;">
            <%= Job.find(jobid).Company.name %></br><i style="font-size: 14px;"><%= randomized_background_salary %></i></div>
            <% end %>
          </div></br>
          <% end %>
          </div>
          <div class="side-bar-company"style=" background-color: white; font-size: 12px;">
            <h2>Company</h2>
            <p ><%= @job.Company.name %></p>

          </div>


          <div class="sidebar-module-sidebar-job-category" style= " background-color: white;" >
            <h2>Category</h2>
            <p><%= @job.JobCategory.name %></p>
          </div>




        <div class="sidebar-module" style=" background-color: white; ">
            <h2>Skills required:</h2>
            <ul>
              <% if @skill!=nil %>
              <% @skill.each do |s| %>
              <li><%=  s %></a></li>
              <% end %>
              <% else %>
              <p>The company did not indicate any required skills.</p>
              <% end %>
            </ul>
            </div>
          </div>
          </div>
