<h1><%= @job.title %></h1>
Status:<div><%= @job.status %></div></br>
Description:<div><%= @job.description %></div></br>
Intro:<div><%= @job.intro %></div></br>

<div><%= @job.JobCategory.name %></div></br>
