<h1><%= @job.title %></h1>
<b>Status:</b><div><%= @job.status %></div></br>
<b>Description:</b><div><%= @job.descriptionV2 %></div></br>
<b>Intro</b>:<div><%= @job.intro %></div></br>

<b>Company:</b><div><%= @job.Company.name %></div></br>


<div><b>JobCategory:</b> <%= @job.JobCategory.name %></div></br>



<div><b>JobCategory:</b> <%= @job.Skills %></div></br>
