<h2><%= @firstuser.email %></h2>
<h2>My Score:<%= @firstascore %></h2>

job status: <%=  @job.status %></br>
<div>
job status: <%=  @job.title %>
</div>
<%= @application.note %>

<%= @jobcat.name %>
<%= @jobtitle.name %>
