<!DOCTYPE html>
<html>
  <head>
    <title>Jobrec2App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <nav class="navbar navbar-default navbar-custom">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- PUT YOUR LOGO HERE IN COLLAPSE -->
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
             <ul class="nav navbar-nav">
                    <li><a href="#">HOME</a></li>
             </ul>
    <!-- navbar-text pull-right -->
            <ul class="nav navbar-text navbar-right">
                <% if member_signed_in? %>
                Logged in as <strong><%= current_member.email %></strong>
                <%= link_to 'Edit profile', edit_member_registration_path, :class => 'navbar-link' %> |
                <%= link_to "Logout", destroy_member_session_path, method: :delete, :class => 'navbar-link'  %>
                <% else %>
                <%= link_to "Sign up", new_member_registration_path, :class => 'navbar-link'  %> |
                  <%= link_to "Login", new_member_session_path, :class => 'navbar-link'  %>
                <% end %>
            </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

	<% if notice %>
		<p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
  	<p class="alert alert-danger"><%= alert %></p>
	<% end %>


    <%= yield %>
  </body>
</html>
