<!DOCTYPE html>
<html>
  <head>
    <title>Jobrec2App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

          <a class="navbar-brand" href="https://glints.sg/" target="_blank"><img alt="Brand" src="https://glints.sg/images/logo.png"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav" style=" font-size: large;">
            <li><a href="https://glints.sg/careers"target="_blank">Careers</a></li>
            <li class="active"><%= link_to jobs_path do %> Jobs <span class="sr-only">(current)</span></a><% end %></li>
            <li><a href="https://glints.sg/opportunities/jobs?jobTypes=INTERNSHIP%2CPART_TIME%2CPROJECT_BASED%2CEXTERNSHIP"target="_blank" >Internships</a></li>
            <li><a href="https://glints.sg/companies"target="_blank">Companies</a></li>
            <li><a href="https://glints.sg/hired/"target="_blank">Blog</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right" style=" font-size: small;     color: white;" >
            <% if member_signed_in? %>
            <stong style="color: grey;">Hi <%= User.find_by(email: current_member.email).firstName.upcase %> || </strong>
            <button type="button" class="btn btn-primary btn-1"><%= link_to 'Edit profile', edit_member_registration_path, :class => 'navbar-link' %>
            <button type="button" class="btn btn-primary"><%= link_to "Logout", destroy_member_session_path, method: :delete, :class => 'navbar-link'   %>
            <% else %>
            <button type="button" class="btn btn-primary btn-1" style="border-color: green;"><%= link_to "Sign up", new_member_registration_path, :class => 'navbar-link'  %>
              <button type="button" class="btn btn-primary"><%= link_to "Login", new_member_session_path, :class => 'navbar-link'  %>
            <% end %>
            <button type="button" class="btn btn-success" style=" color: white; background-color: gray; border:gray;"><%= link_to "Admin", admins_path %></button>

              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>


    <%= yield %>
  </body>
</html>
